# Исключаем саму директорию .git
.git/

### Go ###
# Бинарные файлы
*.exe
*.exe~
*.dll
*.so
*.dylib

# Тестовые бинарные файлы
*.test

# Файлы сборки и выходные директории
/bin/
/out/
/dist/

# Файлы зависимостей Go
go.sum

# IDE/редакторы
.idea/
.vscode/
*.swp
*.swo

# Операционные системы
.DS_Store
Thumbs.db

# Локальные конфиги
.env
*.local

# Профилирование и бенчмарки
*.prof
*.trace

# Вендорные зависимости (если не используете модули)
/vendor/

# Автогенерируемые файлы
coverage.out
